<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TatkalSevaKendra</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
        integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>

    <header class="header-bar mb-3">
        <div class="container d-flex flex-column flex-md-row align-items-center p-3">
            <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white">TatkalSevaKendra</a></h4>
        </div>
    </header>
    <!-- header ends here -->

    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container main-content">
            <h2>Frequently Asked Questions </h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                                href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                What is &ldquo;TatkalSevaKendra&rdquo;?<br> &ldquo;ततकाल सेवा केंद्र &rdquo; क्या है?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                        <div class="panel-body px-3 mb-4">
                            <p>&ldquo;TatkalSevaKendra&rdquo; and its extension enables its users to book and manage
                                their
                                train tickets seamlessly.</p>
                            <p>&ldquo;TatkalSevaKendra&rdquo; अपने उपयोगकर्ताओं को मूल रूप से ट्रेन टिकट बुक करने और
                                प्रबंधित करने में सक्षम बनाता है।</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                                href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                How do we use &ldquo;TatkalSevaKendra&rdquo;?<br>&ldquo;ततकाल सेवा केंद्र &rdquo; का
                                उपयोग
                                कैसे करें?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body px-3 mb-4">
                            <p>To use &ldquo;TatkalSevaKendra&rdquo;<br>&ldquo;TatkalSevaKendra&rdquo; का प्रयोग करने के
                                लिए
                            <ul>
                                <li>First install the extension from here (url)<br>पहले एक्सटेंशन को इनस्टॉल करे। </li>
                                <li>Register yourself on the website and search for the train you wish to book a ticket
                                    from<br>वेबसाइट पर साइन अप करें और जिस ट्रेन से आप टिकट बुक करना चाहते हैं,उससे सर्च
                                    करे। </li>
                                <li>From the available trains find the train you wish to book for and then press
                                    &ldquo;Book&rdquo; <br> उपलब्ध ट्रेनों से आप जिस ट्रेन की बुकिंग करना चाहते हैं, उसे
                                    ढूंढ लें और फिर &ldquo;Book&rdquo; प्रेस करें।</li>
                                <li>Fill in the details next as asked in the form and press &ldquo;Save&rdquo;.
                                    <br>फॉर्म में पूछे गए डिटेल्स भरें और &ldquo;Save&rdquo; दबाएं। </li>
                                <li>You’ll see a book button just next to the ticket you saved. Press it for the booking
                                    to
                                    start.<br>
                                    आपके द्वारा सहेजे गए टिकट के ठीक बगल में आपको एक &ldquo;Book&rdquo; बटन दिखाई देगा।
                                    बुकिंग शुरू करने के लिए इसे दबाएं</li>
                            </ul>
                            </p>
                            <p>That’s it now just stay back and let the magic happen</p>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                                href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                Why is there no autofill for payment OTP? <br>पेमेंट ओटीपी के लिए कोई ऑटोफिल क्यों नहीं
                                है?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body px-3 mb-4">
                            <p>One time password or OTP is a 6 digit number that a user enters to authorise his payment.
                                Which is the only reason why we want the user to have full control of it.<br>वन टाइम
                                पासवर्ड
                                या ओटीपी एक 6 डिजिट की संख्या है जो एक यूजर अपने पेमेंट को अधिकृत करने के लिए दर्ज करता
                                है।
                                यही एकमात्र कारण है कि हम चाहते हैं कि यूजर का इस्पे पूर्ण कण्ट्रोल हो।</p>
                            <p> Although if a user wishes to enable such feature they can write to us at
                                (emailId).<br>हालांकि अगर कोई यूजर इस सुविधा को इस्तमाल करना चाहता है तो वे हमें
                                (emailId)
                                पर लिख सकते हैं।</p>
                            <p>While sending this email your subject must be &ldquo;Enable payment autofill&rdquo;
                                and in the body write &ldquo;Your user name &rdquo; and that you wish to enable auto
                                fill
                                on.
                                Users are also required to attach a hand written self declaration along with a duly
                                attested
                                photograph in the attachments.
                                Upon successful verification the user will be contacted by one of our
                                representatives<br>इस
                                ईमेल को भेजते समय आपका विषय &ldquo;Enable payment autofill&rdquo; और ईमेल में लिखे
                                &ldquo;Your user name &rdquo; की इस यूजर Id पर ऑटो फिलिंग OTP इनेबल करे। अटैचमेंट में
                                सेल्फ
                                अटेस्टेड फोटोग्राफ के साथ यूजर्स को हाथ से लिखा हुआ सेल्फ डिक्लेरेशन भी देना होगा। </p>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                                href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                How is my data maintained? <br> मेरा डेटा कैसे सुरक्षित है?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body px-3 mb-4">
                            <p>The data of our users are encrypted and stored in our multi-level secure servers. Which
                                means
                                that your data would never be accessed by any third party services.<br>
                                हमारे यूजर का डेटा एन्क्रिप्ट किया गया है और हमारे बहु-स्तरीय सुरक्षित सर्वर में
                                संग्रहीत
                                है। जिसका अर्थ है कि आपका डेटा आपके इलावा कोई तीसरा प्रयोग नहीं कर पायेगा। </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            Is there a fee for the service?<br> सर्विस के लिए शुल्क क्या हैं?
                        </a>
                    </h3>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body px-3 mb-4">
                        <p>Yes we charge a small subscription fee whose charges you can see here.<br>हम एक छोटा सा
                            सुब्स्किप्शन फी लेते हैं जिसका चार्ज आप यहाँ देख सकते हैं।</p>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </section>

    <!-- footer begins -->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About TatkalSevaKendra</h6>
                    <p class="text-justify"><i>At TatkalSevaKendra </i> we believe that the user is the KING. Thus, the
                        functionality of the web application revolves around the user. We make sure the data security of our
                        user is our top most priority. We are a small team of enthusiast that are working together in
                        bringing the best ,fast and efficient ticket booking experience possible..</p>
                </div>
                <div class="col-xs-6 col-md-3">
    
                </div>
    
                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="userAgreement.html " target="_blank">User Agreement</a></li>
                        <li><a href="privacyPolicy.html " target="_blank">Privacy Policy</a></li>
                        <li><a href="cancellationRefund.html " target="_blank">Cancellation or Rufund Policy</a></li>
                        <li><a href="feature.html " target="_blank">Features</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All Rights Reserved by
                        TatkalSevaKendra</a>.
                    </p>
                </div>
    
    
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>$('[data-toggle="tooltip"]').tooltip()</script>
</body>

</html>