<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TatkalSevaKendra</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
        integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>

    <header class="header-bar mb-3">
        <div class="container d-flex flex-column flex-md-row align-items-center p-3">
            <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white">TatkalSevaKendra</a></h4>
        </div>
    </header>
    <!-- header ends here -->

    <div class="mx-auto col-lg-5 pl-lg-5 pb-3 py-lg-5 card main-content">

        <% if(errors.length) { %>
        <div class="alert alert-danger text-center"><%=errors %></div>
        <% } %>
        <% if (message.length) { %>
        <div class="alert alert-success text-center"><%=message %></div>
        <% } %>

        <div class="card-body ">
            <form action="/resetPassword" method="POST">
                <div class="form-group invisible">
                    <label for="username" class="text-muted mb-1"><small>Username</small></label>
                    <input name="username" id="username" class="form-control" type="text" value=<%=username%>>
                </div>
                <div class="form-group">
                    <label for="password1" class="text-muted mb-1"><small>Password</small></label>
                    <input name="password" id="password1" class="form-control" type="password"
                        placeholder="Create new password" required>
                </div>
                <div class="form-group">
                    <label for="password2" class="text-muted mb-1"><small>Re-type password</small></label>
                    <input name="confirmPassword" id="password2" class="form-control" type="password"
                        placeholder="Confirm new password" required>
                </div>
                <input type=submit class="py-3 mt-4 btn btn-lg btn-success btn-block" value="Confirm new password">
                </input>
            </form>
        </div>
    </div>


    <!-- footer begins -->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About TatkalSevaKendra</h6>
                    <p class="text-justify"><i>At TatkalSevaKendra </i> we believe that the user is the KING. Thus, the
                        functionality of the web application revolves around the user. We make sure the data security of
                        our
                        user is our top most priority. We are a small team of enthusiast that are working together in
                        bringing the best ,fast and efficient ticket booking experience possible..</p>
                </div>
                <div class="col-xs-6 col-md-3">

                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="userAgreement.html " target="_blank">User Agreement</a></li>
                        <li><a href="privacyPolicy.html " target="_blank">Privacy Policy</a></li>
                        <li><a href="cancellationRefund.html " target="_blank">Cancellation or Rufund Policy</a></li>
                        <li><a href="feature.html " target="_blank">Features</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All Rights Reserved by
                        TatkalSevaKendra</a>.
                    </p>
                </div>


            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>$('[data-toggle="tooltip"]').tooltip()</script>
</body>

</html>